header{
    border-bottom: burlywood 1px solid;
}
.container {
    margin-left: 7vw;
    margin-right: 7vw;
}

aside {
    float: left;
    /*margin-top: 7vh;*/
    border-right: burlywood 1px solid;
    width: 26vw;
}

.main {
    /*margin-top: 7vh;*/
    float: right;
    width: 55vw;
}


.main ul{
    list-style: none;
    padding: 0;
}

.main ul li{
    display: inline-block;
    margin-right: 0.5rem;
}

.main form {
    width: 100%;
}

#search{
    display: inline-block;
    width: calc(100% - 70px);
}
#search-btn{
    float: right;
    width: 60px;
}

.panel{
    display: none;
}


div .panel .active {
    display: block;
}
