footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.flip{
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: "FlipH";
}