.search-container {
  width: 260px;
  height: 45px;
  display: inline-block;
  float: right;
  margin: 2vh auto 0 auto; }

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none; }
  input#search-bar:focus {
    border: 1px solid wheat;
    transition: 0.35s ease;
    color: saddlebrown; }
    input#search-bar:focus::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }
    input#search-bar:focus::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0; }

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
  color: saddlebrown; }

body {
  margin: 0;
  font-family: Arial,sans-serif;
  width: 100%; }
  body li {
    transition: all 0.3s ease;
    font-weight: bold; }
    body li:hover, body li:focus, body li:active {
      color: saddlebrown; }

.container {
  margin-right: 7vw;
  margin-left: 7vw;
  width: 86vw; }

header {
  display: block;
  width: 100vw;
  background: saddlebrown; }
  header h1 {
    display: inline-block;
    font-size: 2rem;
    color: wheat; }

aside {
  display: inline-block;
  float: left;
  width: 33%;
  min-height: 80vh; }
  aside ol {
    list-style: none;
    padding-left: 1.5rem; }

.main {
  display: inline-block;
  float: left;
  width: 67%;
  min-height: 80vh; }
  .main ul {
    list-style: none;
    padding: 0; }
    .main ul li {
      display: inline-block;
      padding-right: 10px; }
  .main .panel {
    min-height: 30vh;
    display: none; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 8vh;
  background: saddlebrown;
  color: wheat;
  padding: 2vh; }

@media screen and (max-width: 800px) {
  .container {
    margin-right: 7vw;
    margin-left: 7vw;
    width: 86vw; }
  aside, .main {
    display: block;
    width: 100%;
    min-height: 0; }
  aside {
    border-bottom: 1px solid wheat; }
  .search-container {
    width: 76vw;
    height: 45px;
    display: inline-block;
    float: left; }
  input#search-bar {
    border: 1px solid wheat;
    outline: none; }
    input#search-bar:focus {
      border: 1px solid saddlebrown;
      transition: 0.35s ease;
      color: saddlebrown; }
      input#search-bar:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      input#search-bar:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
  footer {
    float: left;
    display: block;
    position: static; } }
