<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp">
<h1>Contacts</h1>
<div ng-controller="ContactsCtrl as ctrl">
    <ul>
        <li ng-repeat="contact in ctrl.list" >{{contact.name}}
            <span>
                    <button ng-click="ctrl.remove($index)"> delete </button>
                    <button ng-click="ctrl.up($index,contact)">up</button>
                    <button ng-click="ctrl.down($index,contact)">down</button>
            </span>
        </li>


    </ul>
    <input ng-model="ctrl.newContact" placeholder="new-contact"><button ng-click="ctrl.add()">add+</button>
</div>


<script src="angular.js"></script>
<script src="my-app.js"></script>
</body>
</html>