
.search-container{
  width: 260px;
  height: 45px;
  display: inline-block;
  float: right;
  margin: 2vh auto 0 auto;


}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid wheat;
    transition: 0.35s ease;
    color: saddlebrown;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

  }
}

.search-icon{
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  top: -40px;
  right: -30px;
  color: saddlebrown;
}

.create-contact,.create-group, #delete-group{
  width: 90%;
  display: inline-block;
  float: left;
  margin: 2vh auto 2vh auto;

}

.create-contact input,.create-group input ,#delete-group input{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid burlywood;
  outline: none;
  &:focus{
    border: 1px solid saddlebrown;
    transition: 0.35s ease;
    color: saddlebrown;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

  }
}
.submit ,.form-btn{
  transition: all 0.3s ease;
  background:wheat;
  border: burlywood 2px solid;
  color: saddlebrown;
  &:hover{
    background: white;
  }
}






