nav {
    background-color: burlywood;
    position: fixed;
    left: 0;
    top:0;
    right:0;
    z-index:1000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
}

nav ul li:hover{
    color: darkorange;
}


.container {
    position: absolute;
    top:4rem;
}

.card {
    float: left;
    background-color: darkorange;
    color: aquamarine;
    font-size: 2rem;
    padding: 2rem;
    margin: 2rem;
    height: 3rem;
    width: 3rem;

}
.side-menu{
    position: fixed;
    top:0;
    width: 30vw;
    height: 100vh;
    z-index:1001;
    color: darkblue;
    background-color: blanchedalmond;
}
.closed{
    right: -30vw;

}
.opened{
    right:0;
}

.menu-btn {
    position: relative;
    left:-20px;
    width: 20px;
    height: 20px;
    background-color: red;
}